.Button {
	cursor: pointer;
	color: var(--primary-color);
}

.default {
	// empty
}

.clear {
	outline: none;
	border: none;
	background: none;
}

.outline {
	padding: 10px 15px;
	border: 2px solid var(--primary-color);
	background: none;
}
