.Sidebar {
  height: calc(100vh - var(--navbar-height));
  width: 200px;
  background: var(--inverted-bg-color);
  position: relative;
  transition: width 0.3s;
}

.switchers {
  background: var(--bg-color);
  border-right: var(--inverted-bg-color) 1px solid;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  width: 100%;
}

.langSwitcher {
  margin-left: 15px;
}

.link {
  line-height: 1;
  white-space: nowrap;
}

.sidebarToggle {
  position: absolute;
  bottom: 24px;
  right: -24px;
}

.items {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  align-items: start;
}

.item {
  margin-bottom: 15px;
  display: inline-flex;
  align-items: center;
}

.icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  fill: var(--inverted-primary-color);
}

// styles in collapsed sidebar
.collapsed {
  width: 60px;

  .switchers {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .langSwitcher {
    margin-left: 0;
  }

  .link {
    font-size: 0;
  }
}
