@font-face {
  font-family: consolas;
  font-display: swap;
  src: url('../../../shared/assets/fonts/Consolas/Consolas.eot');
  src:
    local('O'),
    url('../../../shared/assets/fonts/Consolas/Consolas.woff') format('woff'),
    url('../../../shared/assets/fonts/Consolas/Consolas.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: consolas;
  font-display: swap;
  src: url('../../../shared/assets/fonts/Consolas-bold/Consolas-bold.eot');
  src:
    local('O'),
    url('../../../shared/assets/fonts/Consolas-bold/Consolas-bold.woff')
      format('woff'),
    url('../../../shared/assets/fonts/Consolas-bold/Consolas-bold.ttf')
      format('truetype');
  font-weight: 700;
  font-style: normal;
}
