.app.light {
    --bg-color: #DCDCDC;
    --inverted-bg-color: #474A51;
    --primary-color: #333030;
    --secondary-color: #4A4342;
    --inverted-primary-color: #C3CBDE;
    --inverted-secondary-color: #CBE3F5;
}